<section>
    @if (isLoggedIn) {
      <p>Bienvenido {{ username }}</p>
      <img
      (click)="greet()" 
      src="https://github.com/vandalit.png" alt="photo" />
    } @else {
      <p>Inicia Sesión</p>
      <button (click)="isLoggedIn = true">Log In</button>
    }


    <app-games 
    (addFavoriteEvent)="getFavorite($event)"
    username="{{ username }}"
    ></app-games>

    @if (favGame !== '') {
      <p>Tu juego favorito es: {{ favGame }}</p>
    } @else {
      <p>No has seleccionado un juego favorito.</p>
    }
</section>
